// fonts 
$primary-font: 'Roboto', sans-serif;

//colors
$white: #fff;
$black: #000000;

$gold: #cfa43e;
$light_gold: #d8b66e;
$gold_brown: #a69873;
$light_brown: #eee8da;
$lighter_grey: #afafaf;
$silver: #656766;

$dark_grey: #3a3939;
$grey: #696969;
$light_grey: #797979;
$clay_grey: #1E252D;
$clay_grey_light: #152228;
$red: #ee5641;


$container-max-width: 1140px;
$container-semi-fluid-max-width: 87%;
$container_gutter: 15px;